// Styling for the download section
section.download {
    background-color: white;

    position: relative;
    padding: 150px 0;
    p {
        font-size: 12px;
    }
    h2 {
        font-size: 20px;
        margin-top: 0;
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        p {
            font-size: 18px;
        }
        h2 {
            font-size: 30px;
        }
    }
}
