// Styling for the features section
section.features {
    background-image: url(/img/bg-features.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    @include background-cover;

    color: white;

    .section-heading {
        margin-bottom: 10px;
        h2 {
            font-size: 30px;
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        padding-top: 40px;
        padding-bottom: 0px;
        text-align: center;
        h3 {
            font-size: 20px;
        }
        i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $light-gray, #000);
            background: linear-gradient(to left, $light-gray, #000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
