// Styling for the download section
section.contact {
    background-image: url(/img/bg-contact.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    @include background-cover;

    text-align: center;
    h2 {
        font-size: 20px;
        color: white;
        i {
            color: $brand-google-plus;
        }
    }
    h2.contact-email {
        margin-left: 16%;
        margin-bottom:20%;
    }
    ul.list-social {
        margin-bottom: 10px;
        li {
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
            }
            &.social-instagram {
                a {
                    background-color: $brand-instagram;
                    &:hover {
                        background-color: darken($brand-instagram, 10%);
                    }
                }
            }
            &.social-facebook {
                a {
                    background-color: $brand-facebook;
                    &:hover {
                        background-color: darken($brand-facebook, 10%);
                    }
                }
            }
            &.social-google-plus {
                a {
                    background-color: $brand-google-plus;
                    &:hover {
                        background-color: darken($brand-google-plus, 10%);
                    }
                }
            }
            &.social-outer-space {
                a {
                    background-color: #334D5C;
                    &:hover {
                        background-color: darken(white, 95%);
                    }
                }
                img {
                    width:100%;
                    height:100%;
                    margin-top:-10px;
                }
            }
        }
    }
}
