// Styling for the call to action section
section.principles {
    background-color: white;

    position: relative;

    .principles-content {
        position: relative;
        z-index: 1;
        ul li, p {
            font-size: 14px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            color: $gray-darker;
        }
        h2 {
            font-size: 20px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            color: $theme-primary;
        }
        h4 {
            font-size: 15px;
            margin-top: 0;
            margin-bottom: 5px;
            color: $gray-darker;
        }
        @media (min-width: 768px) {
            ul li, p {
                font-size: 15px;
            }
            h2 {
                font-size: 20px;
            }
            h4 {
                font-size: 16px;
            }
        }
    }
}
