// Styling for the call to action section
section.vision {
    background-image: url('../img/bg-vision.jpg');
    background-repeat: no-repeat;
    background-position: 35% center;
    @include background-cover;

    position: relative;

    .vision-content {
        position: relative;
        z-index: 1;
        p {
            font-size: 14px;
            max-width: 550px;
            margin-top: 0;
            padding: 20px;
            color: white;

            background-color: rgba(#707481, .4);
            border-radius: 9px;
        }
        h2 {
            font-size: 22px;
            max-width: 450px;
            margin-top: 0;
            margin-left: 10px;
            margin-bottom: 25px;
            color: $theme-primary;
        }
        h4 {
            font-size: 16px;
            margin-top: 0;
            margin-left: 10px;
            margin-bottom: 15px;
            max-width: 450px;
            color: white;
            text-shadow: 2px 2px 4px #707481;
        }
        @media (min-width: 768px) {
            p {
                font-size: 14px;
            }
            h2 {
                font-size: 16px;
            }
            h4 {
                font-size: 16px;
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out(black, .7);
    }
}
